body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    color: #333;
}

h1 {
    text-align: center;
    color: #2C3E50;
    margin-top: 20px;
}

li{
    list-style: none;
}

.blog-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #D9EAFD; /* Light blue background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog-container img {
    width: 150px;
    height: 150px;
}

.blog-details {
    flex: 1;
    padding-left: 15px;
}

.blog-container h3 {
    margin: 0 0 10px 0;
    color: #34495E;
}

.blog-container h4 {
    margin: 5px 0;
    color: #2C3E50;
}

.blog-container p {
    margin: 5px 0;
}

.blog-container p.category {
    font-weight: bold;
    color: #2C3E50;
}

.blog-container p.date {
    font-size: 0.9em;
    color: #7F8C8D;
}

.pagination > a > button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination > a > button:hover:not([disabled]) {
    background-color: #ddd;
}

.pagination > a > button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}